<style>
    .intro {
        margin: 20px 20px 20px 100px;
        font-size: 1.5em;
    }
</style>

<h1>Why is it better to use directives?</h1>

    <ul class="intro">
        <li>Betters Separation of concerns
        <li>Reusability: (standalone controls, reusable modifiable HTML element behavior)    
        <li>Much more declarative, cleaner HTML
        <li>Fits well into the MVC philosophy. Do I really need to sell the values of MVC?
        <li>Mode solid JS (no selectors)
        <li>The cool factor of creating your own html elements or modifiying the behavior of existing ones at a low level
        <li>Less code (but not always)
        <li>80% of Angular is a set of directives (ng-controller anyone? ng-app, ng-click, ng-show, etc...),
            understanding directives will make you a better Angular developer.
    </ul>

<h1>Drawbacks</h1>

    <ul class="intro">
        <li>Directives can be f'n hard
        <li>Like blackmagic sometimes
        <li>You may have to learn/understand low level DOM web stuff
        <li>Not the best documentation out there
        <li>Directives can be f'n hard
    </ul>



    <next-button href="intro-4" ></next-button>