<div class="hero-unit">

    <h1>Angular Directives 101</h1>

    <h3>TOC</h3>

    <ul style="margin: 20px 100px;">
        <li>
            Introduction
            <ul>
                <li><a href="./#/intro-1">The Angular Philosophy</a></li>
                <li><a href="./#/intro-2">Pros and Cons</a></li>
                <li><a href="./#/intro-4">jQuery vs angular - the jQuery way</a></li>
                <li><a href="./#/intro-3">jQuery vs angular - the angular way</a></li>
                <li><a href="./#/intro-5">Directive structure</a></li>
            </ul>
        </li>
        <li><a href="./#/helloworld">Hello world directive</a></li>
        <li><a href="./#/directiveredify">Simple DOM manipulation - redify</a></li>
        <li><a href="./#/directivecloneit">More interesting DOM manipulation - deep cloning directive</a></li>        
        <li>
            Passing arguments to directives
            <ul>
                <li><a href="./#/directivecolorify">part I - colorify directive</a></li>
                <li><a href="./#/directivepartialcolorify">part II - partial colorify directive</a></li>
                <li><a href="./#/directivepartialcolorify2">part III - better partial colorify directive</a></li>
            </ul>
        </li>

        <li>Notifying the outside word.
            <ul>
                <li><a href="./#/directivecallback">Directive with a callback - navbar directive</a></li>
                <li><a href="./#/directiveoutput">Directive with an output argument</a></li>
            </ul>
        </li>
        <li><a href="./#/isolatescopegotcha">Isolate scope gotchas!</a></li>

        <li><a href="./#/navdirective">Using an angular service in a directive - nav button directive</a></li>
        <li><a href="./#/adipoli">Wrapping a jQuery plugin in a directive - adipoli wrapped</a></li>

        <li><a href="./#/ae">'AE', make a directive work both as an element and an attribute...</a></li>

        <li><a href="./#/transclude">Using transclude in a directive</a></li>

        <li><a href="./#/regexswitch">Directive to directive communication       
        
        <li><a href="./#/theend">The End</a></li>
        
    </ul>


    <p class="alert label" style="padding: 20px;"><i class="icon-warning-sign icon-2x" style="float:left; margin: 0px 20px 0px 0px;"></i>
        The directives presented here were developed as
        examples for the sake of the exercise. <br/>They are NOT production reay. <br/>Some of them would
        would not even make sense as a directives (e.g. redify directive).</p>

</div>
